html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background: #edfdec;
    /* #f6fbf6 */
    color: #091108;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding-bottom: 10vh;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    gap: 20px;
    font-size: 40px;
}

img {
    height: 8vh;
}

.getRes {
    background-color: transparent;
    border: 3px solid #9adb95;
    color: #091108;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0000004d;
    width: 100px;
    height: 50px;
    font-weight: bold;
    transition: all 0.4s;
}

.clearRes {
    background-color: transparent;
    border: 3px solid #f54d4a;
    color: #091108;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0000004d;
    width: 100px;
    height: 50px;
    font-weight: bold;
    transition: all 0.4s;
}

.getRes:hover {
    border: 3px solid #51b849;
    background-color: #6fd26730;
    box-shadow: 0 4px 20px #6fd267;
    color: #091108;
}

.clearRes:hover {
    border: 3px solid #f6211d;
    background-color: #ff7b7930;
    box-shadow: 0 4px 20px #ff7b79;
    color: #091108;
}

.resBlock {
    border: 2px solid #51b849;
    box-shadow: 0 4px 8px #0000004d;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 20px;
    min-width: 330px;
    max-width: 100vh;
    gap: 10px;
}

.resBlock span {
    display: flex;
    flex-direction: row;
    gap: 12px;
    max-width: fit-content;
}

.resBlock-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    justify-content: center;
}

.resBlock-grid .label {
    text-align: right;
    justify-self: start;
}

.resBlock-grid .value {
    text-align: left;
    justify-self: end;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    gap: 25px;
}
