# Environment variables
**/.env
.env.*/

# Editor files
**/.vscode
**/.idea

# Python files and packages
**/*.pyc
**/__pycache__/
**/package*.json

# Miscellaneous
**/.DS_Store

# Model response files
**/model_response*.md
